<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

<!-- 방문자수 조회 -->
<resultMap type="VisitorCount" id="VisitorCountResultSet">
	<id property="vcId" column="STATIC_ID"/>
    <result property="day" column="STATIC_DATE"/>
    <result property="count" column="STATIC_COUNT"/>
    <result property="totalCount" column="STATIC_T_COUNT"/>    
</resultMap>

<!-- 회원현황 조회 -->
<resultMap type="MembershipStatus" id="MembershipStatusResultSet">	
    <result property="totalCount" column="TOTAL_COUNT"/>
    <result property="yCount" column="Y_COUNT"/>
    <result property="nCount" column="N_COUNT"/>    
</resultMap>

<!-- 맴버십 회원 조회 -->
<resultMap type="MembershipCount" id="MembershipCountResultSet">
	<result property="day" column="DAY"/>
    <result property="gold" column="GOLD"/>
    <result property="silver" column="SILVER"/>
    <result property="total" column="TOTAL"/> 
</resultMap>

<!-- 멤버 -->
<resultMap type="Member" id="MemberResultSet">
	<id property="memberId" column="MEMBER_ID"></id>
	<result property="memberName" column="MEMBER_NAME"></result>
	<result property="memberPwd" column="MEMBER_PWD"></result>
	<result property="email" column="EMAIL"></result>
	<result property="nickName" column="NICKNAME"></result>
	<result property="gender" column="GENDER"></result>
	<result property="phone" column="PHONE"></result>
	<result property="address" column="ADDRESS"></result>
	<result property="memberEnrolldate" column="MEMBER_ENROLLDATE"></result>
	<result property="memberModifydate" column="MEMBER_MODIFYDATE"></result>
	<result property="memberAccessdate" column="MEMBER_ACCESSDATE"></result>
	<result property="memberStatus" column="MEMBER_STATUS"></result>
	<result property="memberJoinType" column="MEMBERJOIN_TYPE"></result>
</resultMap>

<!-- 맴버 (맴버 테이블 + 맴버십이름 + 프로필 사진) -->
<resultMap type="Member" id="memberListResultSet">
	<id property="memberId" column="MEMBER_ID"></id>
	<result property="memberName" column="MEMBER_NAME"></result>
	<result property="memberPwd" column="MEMBER_PWD"></result>
	<result property="email" column="EMAIL"></result>
	<result property="nickName" column="NICKNAME"></result>
	<result property="gender" column="GENDER"></result>
	<result property="phone" column="PHONE"></result>
	<result property="address" column="ADDRESS"></result>
	<result property="memberEnrolldate" column="MEMBER_ENROLLDATE"></result>
	<result property="memberModifydate" column="MEMBER_MODIFYDATE"></result>
	<result property="memberAccessdate" column="MEMBER_ACCESSDATE"></result>
	<result property="memberStatus" column="MEMBER_STATUS"></result>
	<result property="memberJoinType" column="MEMBERJOIN_TYPE"></result>
	<result property="reviewStatus" column="REVIEW_STATUS"></result>
	<result property="membershipName" column="MEMBERSHIP_NAME"></result>
	<result property="profileId" column="PROFILE_ID"></result>
	<result property="originalName" column="ORIGINAL_NAME"></result>
	<result property="renameName" column="RENAME_NAME"></result>
	<result property="uploadDate" column="UPLOAD_DATE"></result>
	<result property="file_path" column="FILE_PATH"></result>	
</resultMap>

<!-- 방문자수 조회 -->
<select id="selectOneVisitorCount" resultMap="VisitorCountResultSet">
	SELECT * FROM STATIC WHERE TO_CHAR(STATIC_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
</select>

<!-- 회원현황 조회 -->
<select id="selectOneMembershipStatus" resultMap="MembershipStatusResultSet">
	SELECT (SELECT COUNT(*) FROM MEMBER) TOTAL_COUNT
	,(SELECT COUNT(*) FROM MEMBER WHERE MEMBER_STATUS = 'Y') Y_COUNT
	, (SELECT COUNT(*) FROM MEMBER WHERE MEMBER_STATUS = 'N') N_COUNT
	FROM MEMBER
	WHERE ROWNUM = 1
</select>

<!-- 맴버십 현황 조회 -->
<select id="selectOneMembershipCount" resultMap="MembershipCountResultSet">
	SELECT SYSDATE DAY 
	, (SELECT COUNT(*) FROM membership_list WHERE membership_id=1 AND MS_STATUS = 'Y') GOLD
	, (SELECT COUNT(*) FROM membership_list WHERE membership_id=2 AND MS_STATUS = 'Y') SILVER
	, (SELECT COUNT(*) FROM membership_list WHERE MS_STATUS = 'Y') TOTAL
	FROM membership_list WHERE ROWNUM = 1
</select>

<!-- 로그인(회원 불러오기) -->
<select id="selectOneMember" resultMap="MemberResultSet">
	SELECT *
	FROM MEMBER
	WHERE EMAIL=#{email}
	AND MEMBER_STATUS='Y'
</select>

<!-- 회원가입 -->
<insert id="insertMember" parameterType="Member">
		INSERT ALL
    	INTO MEMBER VALUES(SEQ_MEMBERID.NEXTVAL,#{memberName},#{memberPwd},#{email},#{nickName},#{gender},#{phone},#{address},SYSDATE,SYSDATE,SYSDATE,DEFAULT,#{memberJoinType})
    	INTO PROFILE_IMG VALUES(SEQ_PROFILEID.NEXTVAL,SEQ_MEMBERID.CURRVAL,'noimage.png','noimage.png',SYSDATE,'0')
    	SELECT *
    	FROM DUAL
</insert>

<!-- 방문자  -->
<insert id="insertVisitorCount">
	INSERT INTO STATIC VALUES(SEQ_STATIC.NEXTVAL,SYSDATE,1,(SELECT MAX(STATIC_T_COUNT)+1 FROM STATIC))
</insert>

<!-- 방문자2 -->
<update id="updateVisitorCount">
	UPDATE STATIC SET STATIC_COUNT  = STATIC_COUNT+1 
					, STATIC_T_COUNT = STATIC_T_COUNT+1 
	WHERE TO_CHAR(STATIC_DATE, 'YYYYMMDD') = TO_CHAR(SYSDATE, 'YYYYMMDD')
</update>

<select id="selectlistMember" resultMap="memberListResultSet">
	SELECT * FROM SELECT_MEMBER ORDER BY MEMBER_NAME
</select>
</mapper>
