<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">


<!-- 맴버 (맴버 테이블 + 맴버십이름 + 프로필 사진) -->
<resultMap type="Member" id="memberListResultSet">
	<id property="memberId" column="MEMBER_ID"></id>
	<result property="memberName" column="MEMBER_NAME"></result>
	<result property="memberPwd" column="MEMBER_PWD"></result>
	<result property="email" column="EMAIL"></result>
	<result property="nickName" column="NICKNAME"></result>
	<result property="gender" column="GENDER"></result>
	<result property="phone" column="PHONE"></result>
	<result property="address" column="ADDRESS"></result>
	<result property="memberEnrolldate" column="MEMBER_ENROLLDATE"></result>
	<result property="memberModifydate" column="MEMBER_MODIFYDATE"></result>
	<result property="memberAccessdate" column="MEMBER_ACCESSDATE"></result>
	<result property="memberStatus" column="MEMBER_STATUS"></result>
	<result property="memberJoinType" column="MEMBERJOIN_TYPE"></result>
	<result property="reviewStatus" column="REVIEW_STATUS"></result>
	<result property="membershipName" column="MEMBERSHIP_NAME"></result>
	<result property="profileId" column="PROFILE_ID"></result>
	<result property="originalName" column="ORIGINAL_NAME"></result>
	<result property="renameName" column="RENAME_NAME"></result>
	<result property="uploadDate" column="UPLOAD_DATE"></result>
	<result property="file_path" column="FILE_PATH"></result>	
</resultMap>


<!-- ==================================지민(로그인/회원가입)============================== -->
<!-- 로그인(회원 불러오기)/지민 -->
<select id="selectOneMember" resultMap="memberListResultSet">
	SELECT *
	FROM SELECT_MEMBER
	WHERE EMAIL=#{email}
	AND MEMBER_STATUS='Y'
</select>

<!-- 회원가입/지민-->
<insert id="insertMember" parameterType="Member">
		INSERT ALL
    	INTO MEMBER VALUES(SEQ_MEMBERID.NEXTVAL,#{memberName},#{memberPwd},#{email},#{nickName},#{gender},#{phone},#{address},SYSDATE,SYSDATE,SYSDATE,DEFAULT,#{memberJoinType},DEFAULT)
    	INTO PROFILE_IMG VALUES(SEQ_PROFILEID.NEXTVAL,SEQ_MEMBERID.CURRVAL,'noimage.png','noimage.png',SYSDATE,'0')
    	SELECT *
    	FROM DUAL
</insert>
<!-- ==================================지민(로그인/회원가입) 끝 ============================== -->

</mapper>
