<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="restaurantMapper">
	
	<resultMap type="Res" id="RestaurantListMap">
		<id property="resId" column="RES_ID" jdbcType="INTEGER"/>
		<result property="resCategoryId" column="RES_CATEGORY_ID"/>
		<result property="resCategoryName" column="RES_CATEGORY_NAME"/>
		<result property="locationId" column="LOCATION_ID"/>
		<result property="locationName" column="LOCATION_NAME"/>
		<result property="resName" column="RES_NAME"/>
		<result property="resAddress" column="RES_ADDRESS"/>
		<result property="resContent" column="RES_CONTENT"/>
		<result property="resTime" column="RES_TIME"/>
		<result property="resStatus" column="RES_STATUS"/>
		<result property="resCreateDate" column="RES_CREATE_DATE"/>
		<result property="resUpdateDate" column="RES_UPDATE_DATE"/>
		<result property="reviewRating" column="REVIEW_RATING"/>
		<result property="resBookmarkCount" column="BOOKMARK_COUNT"/>
		<result property="resReviewCount" column="REVIEW_COUNT"/>
		<result property="resViewCount" column="RES_VIEWCOUNT"/>
		<association property="resThumbnailImage" column="RES_ID" javaType="ResImage" select="getResThumbnailImage"/>
		<association property="bestReview"  column="RES_ID" javaType="Review" select="getBestReview"/>
	</resultMap>

	<resultMap type="Res" id="RestaurantDetailMap">
		<id property="resId" column="RES_ID" jdbcType="INTEGER"/>
		<result property="resCategoryId" column="RES_CATEGORY_ID"/>
		<result property="resCategoryName" column="RES_CATEGORY_NAME"/>
		<result property="locationId" column="LOCATION_ID"/>
		<result property="locationName" column="LOCATION_NAME"/>
		<result property="resName" column="RES_NAME"/>
		<result property="resAddress" column="RES_ADDRESS"/>
		<result property="resContent" column="RES_CONTENT"/>
		<result property="resTime" column="RES_TIME"/>
		<result property="resStatus" column="RES_STATUS"/>
		<result property="resCreateDate" column="RES_CREATE_DATE"/>
		<result property="resUpdateDate" column="RES_UPDATE_DATE"/>
		<result property="reviewRating" column="REVIEW_RATING"/>
		<result property="resBookmarkCount" column="BOOKMARK_COUNT"/>
		<result property="resReviewCount" column="REVIEW_COUNT"/>
		<result property="resViewCount" column="RES_VIEWCOUNT"/>
		<association property="resThumbnailImage" column="RES_ID" javaType="ResImage" select="getResThumbnailImage"/>
		<collection property="resLatestImages" column="RES_ID" ofType="Image" select="getResLatestImages"/>
	</resultMap>
	
	<resultMap type="Review" id="ReviewMap">
		<id property="reviewId" column="REVIEW_ID"/>
		<result property="resId" column="RES_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="reviewCreateDate" column="REVIEW_CREATE_DATE"/>
		<result property="reviewUpdateDate" column="REVIEW_UPDATE_DATE"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewGoodcount" column="REVIEW_GOODCOUNT"/>
		<result property="reviewRating" column="REVIEW_RATING"/>
		<result property="reviewTasterating" column="REVIEW_TASTERATING"/>
		<result property="reviewPricerating" column="REVIEW_PRICERATING"/>
		<result property="reviewServicerating" column="REVIEW_SERVICERATING"/>
		<result property="reviewStatus" column="REVIEW_STATUS"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="reviewerProfileId" column="REVIEWER_PROFILE_ID"/>
		<result property="reviewerProfileImg" column="REVIEWER_PROFILE_IMG"/>
		<result property="reviewerProfilePath" column="REVIEWER_PROFILE_PATH"/>
		<result property="reviewerReviewCount" column="REVIEWER_REVIEW_COUNT"/>
		<result property="reviewerFollowerCount" column="REVIEWER_FOLLOWER_COUNT"/>
		<collection property="reviewImages" column="REVIEW_ID" ofType="Image" select="getReviewImages"/>
	</resultMap>
	
	<resultMap type="Info" id="InfoMap">
		<id property="resId" column="RES_ID"/>
		<result property="infoCategoryName" column="RES_CATEGORY_NAME"/>
		<result property="infoOperatingTime" column="RES_TIME"/>
		<collection property="infoFilter" ofType="Filter">
			<id property="filterId" column="FILTER_ID"/>
			<result property="filterName" column="FILTER_NAME"/>
		</collection>
		<collection property="bestmenu" ofType="Bestmenu">
			<id property="bestmenuId" column="BESTMENU_ID"/>
			<result property="bestmenuName" column="BESTMENU_NAME"/>
		</collection>
	</resultMap>
	
	<resultMap type="Image" id="ImageMap">
		<id property="imageId" column="IMAGE_ID"/>
		<result property="imageOriginName" column="IMAGE_ORIGIN_NAME"/>
		<result property="imageNewName" column="IMAGE_NEW_NAME"/>
		<result property="imageFilepath" column="IMAGE_FILEPATH"/>
		<result property="imageCreateDate" column="IMAGE_CREATE_DATE"/>
		<result property="imageLevel" column="IMAGE_LEVEL"/>
		<result property="imageStatus" column="IMAGE_STATUS"/>
		<result property="imageDownloadCount" column="IMAGE_DOWNLOAD_COUNT"/>
	</resultMap>
	
	<resultMap type="ResImage" id="ResImageMap">
		<result property="resId" column="RES_ID"/>
		<result property="imageId" column="IMAGE_ID"/>
		<result property="imageOriginName" column="IMAGE_ORIGIN_NAME"/>
		<result property="imageNewName" column="IMAGE_NEW_NAME"/>
		<result property="imageFilepath" column="IMAGE_FILEPATH"/>
		<result property="imageCreateDate" column="IMAGE_CREATE_DATE"/>
		<result property="imageLevel" column="IMAGE_LEVEL"/>
		<result property="imageStatus" column="IMAGE_STATUS"/>
		<result property="imageDownloadCount" column="IMAGE_DOWNLOAD_COUNT"/>	
	</resultMap>
	
	<select id="getPhotoCount" parameterType="_int" resultType="_int">
		SELECT    COUNT(I.IMAGE_ID)
		FROM      REVIEW_IMAGE RI
  		LEFT JOIN IMAGE I ON (RI.IMAGE_ID = I.IMAGE_ID)
 		LEFT JOIN REVIEW R ON (RI.REVIEW_ID = R.REVIEW_ID)
 	 	WHERE     I.IMAGE_STATUS = 'Y' AND R.REVIEW_STATUS = 'Y' AND R.RES_ID = #{resId}
	</select>
	
	<select id="getPhotoList" parameterType="hashmap" resultMap="ImageMap">
		SELECT    I.*
		FROM      REVIEW_IMAGE RI
  		LEFT JOIN IMAGE I ON (RI.IMAGE_ID = I.IMAGE_ID)
 		LEFT JOIN REVIEW R ON (RI.REVIEW_ID = R.REVIEW_ID)
 	 	WHERE     I.IMAGE_STATUS = 'Y' AND R.REVIEW_STATUS = 'Y' AND R.RES_ID = #{resId}
		<choose>
			<when test="'latest'.equals(sortType)">
		 		ORDER BY R.REVIEW_CREATE_DATE DESC
		 	</when>
		 	<when test="'oldest'.equals(sortType)">
		 		ORDER BY R.REVIEW_CREATE_DATE ASC
		 	</when>
		 	<when test="'highrating'.equals(sortType)">
		 		ORDER BY R.REVIEW_RATING DESC
		 	</when>
		 	<when test="'lowrating'.equals(sortType)">
		 		ORDER BY R.REVIEW_RATING ASC
		 	</when>
		</choose>
	</select>
	
	<select id="getResThumbnailImage" resultMap="ResImageMap">
		SELECT    R.RES_ID, I.*
		FROM      IMAGE I
		LEFT JOIN RES_IMAGE RI ON (I.IMAGE_ID = RI.IMAGE_ID)
		LEFT JOIN RESTAURANT R ON (R.RES_ID = RI.RES_ID)
		WHERE     R.RES_ID = #{resId}
	</select>
	
	<select id="getBestReview" resultMap="ReviewMap">
		SELECT  BR.*
		FROM    SELECT_BESTREVIEW BR
		WHERE   BR.RES_ID = #{resId}
	</select>
	
	<select id="getResLatestImages" resultMap="ImageMap">
		SELECT LI.*
		FROM   SELECT_RES_LATEST_IMAGES LI
		WHERE  LI.RES_ID = #{resId}
	</select>
	
	<select id="getReviewImages" resultMap="ImageMap">
		SELECT    R.REVIEW_ID, I.IMAGE_ID, I.IMAGE_NEW_NAME, I.IMAGE_FILEPATH
		FROM      REVIEW R
		LEFT JOIN REVIEW_IMAGE RI ON (R.REVIEW_ID = RI.REVIEW_ID)
		LEFT JOIN IMAGE I ON (RI.IMAGE_ID = I.IMAGE_ID)
		WHERE     R.REVIEW_ID = #{reviewId}
	</select>
	
	<select id="getReviewListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(DISTINCT R.REVIEW_ID)
		FROM   REVIEW R
		WHERE  R.REVIEW_STATUS = 'Y' AND R.RES_ID = #{resId}
	</select>
	
	<select id="getReviewList" parameterType="hashmap" resultMap="ReviewMap">
		SELECT SR.*
		FROM   SELECT_REVIEW SR
		WHERE  SR.REVIEW_STATUS = 'Y'
		<if test="resId != null">
			AND SR.RES_ID = #{resId}
		</if>
		<if test="memberId != null">
			AND SR.MEMBER_ID = #{memberId}
		</if>
		<choose>
			<when test="'latest'.equals(sortType)">
		 		ORDER BY SR.REVIEW_CREATE_DATE DESC
		 	</when>
		 	<when test="'oldest'.equals(sortType)">
		 		ORDER BY SR.REVIEW_CREATE_DATE ASC
		 	</when>
		 	<when test="'highrating'.equals(sortType)">
		 		ORDER BY SR.REVIEW_RATING DESC
		 	</when>
		 	<when test="'lowrating'.equals(sortType)">
		 		ORDER BY SR.REVIEW_RATING ASC
		 	</when>
		</choose>
	</select>
	
	<select id="getListCount" parameterType="hashmap" resultType="_int">
		SELECT    COUNT(DISTINCT SR.RES_ID)
		FROM      SELECT_RES SR
		LEFT JOIN SELECT_FILTER SF ON (SR.RES_ID = SF.RES_ID)
		LEFT JOIN BESTMENU BM ON (SR.RES_ID = BM.RES_ID)
		WHERE     RES_STATUS = 'Y'
		<choose>
			<when test="locationId!=0">
				AND SR.LOCATION_ID = #{locationId}
			</when>
			<when test="locationId>=9">
			<![CDATA[
				AND SR.LOCATION_ID >= #{locationId}
			]]>
			</when>
		</choose>
		<if test="categories.size() > 0">
			AND SR.RES_CATEGORY_ID IN
			<foreach collection="categories" item="category" index="index" separator="," open="(" close=")">
		 		#{category}
		 	</foreach>
		</if>
		<if test="filters.size() > 0">
			AND SF.FILTER_ID IN
			<foreach collection="filters" item="filter" index="index" separator="," open="(" close=")">
		 		#{filter}
		 	</foreach>
		</if>
		<if test="!'all'.equals(keyword)">
		 	AND SR.RES_NAME LIKE '%'||#{keyword}||'%' OR BM.BESTMENU_NAME LIKE '%'||#{keyword}||'%'    
		</if>
	
	</select>
	
	<select id="getList" parameterType="hashmap" resultMap="RestaurantListMap">
		SELECT    DISTINCT SR.RES_ID, SR.RES_NAME, SR.REVIEW_RATING, SR.LOCATION_ID, SR.LOCATION_NAME, SR.RES_ADDRESS, SR.RES_CONTENT, SR.RES_VIEWCOUNT, SR.BOOKMARK_COUNT, SR.REVIEW_COUNT
		FROM      SELECT_RES SR
		LEFT JOIN SELECT_FILTER SF ON (SR.RES_ID = SF.RES_ID)
		LEFT JOIN BESTMENU BM ON (SR.RES_ID = BM.RES_ID)
		WHERE     SR.RES_STATUS = 'Y'
		<choose>
			<when test="locationId!=0">
				AND SR.LOCATION_ID = #{locationId}
			</when>
			<when test="locationId>=9">
			<![CDATA[
				AND SR.LOCATION_ID >= #{locationId}
			]]>
			</when>
		</choose>
		<if test="categories.size() > 0">
			AND SR.RES_CATEGORY_ID IN
			<foreach collection="categories" item="category" index="index" separator="," open="(" close=")">
		 		#{category}
		 	</foreach>
		</if>
		<if test="filters.size() > 0">
			AND SF.FILTER_ID IN
			<foreach collection="filters" item="filter" index="index" separator="," open="(" close=")">
		 		#{filter}
		 	</foreach>
		</if>
		<if test="!'all'.equals(keyword)">
		 	AND SR.RES_NAME LIKE '%'||#{keyword}||'%' OR BM.BESTMENU_NAME LIKE '%'||#{keyword}||'%'    
		</if>
		<choose>
			<when test="'highrating'.equals(sortType)">
		 		ORDER BY SR.REVIEW_RATING DESC
		 	</when>
		 	<when test="'highReviewCount'.equals(sortType)">
		 		ORDER BY SR.REVIEW_COUNT DESC
		 	</when>
		 	<when test="'highViewCount'.equals(sortType)">
		 		ORDER BY SR.RES_VIEWCOUNT DESC
		 	</when>
		</choose>
	</select>
	
	<select id="getRestaurantDetail" parameterType="_int" resultMap="RestaurantDetailMap">
		SELECT R.RES_ID, R.RES_NAME, R.LOCATION_NAME, R.RES_ADDRESS, R.REVIEW_RATING, R.RES_CONTENT
    	FROM   SELECT_RES R
		WHERE  R.RES_ID = #{resId}
	</select>

	<select id="getRestaurantInfo" parameterType="_int" resultMap="InfoMap">
		SELECT    R.RES_ID, R.RES_CATEGORY_NAME, R.RES_TIME
				  ,BM.BESTMENU_ID, BM.BESTMENU_NAME
				  ,F.FILTER_ID, F.FILTER_NAME
		FROM      SELECT_RES R
		LEFT JOIN BESTMENU BM ON (R.RES_ID = BM.RES_ID)
		LEFT JOIN FILTER_CATEGORY FC ON (R.RES_ID = FC.RES_ID)
		LEFT JOIN FILTER F ON (FC.FILTER_ID = F.FILTER_ID)
		WHERE     R.RES_ID = #{resId}
	</select>
	
	<insert id="uploadReview" parameterType="hashmap">
		<choose>
			<when test="''.equals(imageList[0].imageOriginName)">
				INSERT INTO REVIEW VALUES (SEQ_REVIEW.NEXTVAL, #{review.resId}, #{review.memberId}, SYSDATE, SYSDATE, #{review.reviewContent}, 0, #{review.reviewRating}, #{review.reviewTasterating}, #{review.reviewPricerating}, #{review.reviewServicerating}, DEFAULT)
			</when>
			<when test="!''.equals(imageList[0].imageOriginName)">
				INSERT INTO REVIEW VALUES (SEQ_REVIEW.NEXTVAL, #{review.resId}, #{review.memberId}, SYSDATE, SYSDATE, #{review.reviewContent}, 0, #{review.reviewRating}, #{review.reviewTasterating}, #{review.reviewPricerating}, #{review.reviewServicerating}, DEFAULT)
			</when>
			<when test="imageList.size() == 2">
				INSERT ALL
				INTO   REVIEW       VALUES (SEQ_REVIEW.NEXTVAL, #{review.resId}, #{review.memberId}, SYSDATE, SYSDATE, #{review.reviewContent}, 0, #{review.reviewRating}, #{review.reviewTasterating}, #{review.reviewPricerating}, #{review.reviewServicerating}, DEFAULT)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL, #{imageList[0].imageOriginName}, #{imageList[0].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL, SEQ_REVIEW.NEXTVAL)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL+1, #{imageList[1].imageOriginName}, #{imageList[1].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL+1, SEQ_REVIEW.NEXTVAL)
				SELECT *
				FROM   DUAL
			</when>
			<when test="imageList.size() == 3">
				INSERT ALL
				INTO   REVIEW       VALUES (SEQ_REVIEW.NEXTVAL, #{review.resId}, #{review.memberId}, SYSDATE, SYSDATE, #{review.reviewContent}, 0, #{review.reviewRating}, #{review.reviewTasterating}, #{review.reviewPricerating}, #{review.reviewServicerating}, DEFAULT)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL, #{imageList[0].imageOriginName}, #{imageList[0].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL, SEQ_REVIEW.NEXTVAL)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL+1, #{imageList[1].imageOriginName}, #{imageList[1].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL+1, SEQ_REVIEW.NEXTVAL)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL+2, #{imageList[2].imageOriginName}, #{imageList[2].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL+2, SEQ_REVIEW.NEXTVAL)
				SELECT *
				FROM   DUAL
			</when>
			<when test="imageList.size() == 4">
				INSERT ALL
				INTO   REVIEW       VALUES (SEQ_REVIEW.NEXTVAL, #{review.resId}, #{review.memberId}, SYSDATE, SYSDATE, #{review.reviewContent}, 0, #{review.reviewRating}, #{review.reviewTasterating}, #{review.reviewPricerating}, #{review.reviewServicerating}, DEFAULT)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL, #{imageList[0].imageOriginName}, #{imageList[0].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL, SEQ_REVIEW.NEXTVAL)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL+1, #{imageList[1].imageOriginName}, #{imageList[1].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL+1, SEQ_REVIEW.NEXTVAL)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL+2, #{imageList[2].imageOriginName}, #{imageList[2].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL+2, SEQ_REVIEW.NEXTVAL)
				INTO   IMAGE        VALUES (SEQ_IMAGEID.NEXTVAL+3, #{imageList[3].imageOriginName}, #{imageList[3].imageNewName}, 'reviewImage', SYSDATE, 2, 'Y', 0)
				INTO   REVIEW_IMAGE VALUES (SEQ_IMAGEID.NEXTVAL+3, SEQ_REVIEW.NEXTVAL)
				SELECT *
				FROM   DUAL
			</when>
		</choose>
	</insert>
	
	<update id="upViewCount" parameterType="_int">
		UPDATE RESTAURANT
		SET    RES_VIEWCOUNT = RES_VIEWCOUNT + 1
		WHERE  RES_ID = #{resId}
	</update>
	
	<insert id="enrollBookmark" parameterType="Bookmark">
		INSERT
		INTO   RES_BOOKMARK
		VALUES (SEQ_BOOKMARK.NEXTVAL, #{memberId}, #{resId})
	</insert>
	
	<select id="alreadyEnroll" parameterType="Bookmark" resultType="_int">
		SELECT COUNT(RB.RES_BOOKMARK_ID)
		FROM   RES_BOOKMARK RB
		WHERE  RB.RES_ID = #{resId} AND RB.MEMBER_ID = #{memberId}
	</select>
	
	<select id="sameLocationBestRestaurant" parameterType="hashmap" resultMap="RestaurantListMap">
		SELECT SR2.*
		FROM   (SELECT SR.RES_ID, SR.RES_NAME, SR.LOCATION_NAME, SR.REVIEW_RATING
		        FROM   SELECT_RESTAURANT SR
		        WHERE  SR.RES_STATUS = 'Y'
		        <if test="locationId!=0">
		        	AND SR.LOCATION_ID = #{locationId}
		        </if>
		        ORDER BY SR.REVIEW_RATING DESC NULLS LAST) SR2
		<![CDATA[
		WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="membershipRestaurant" parameterType="hashmap" resultMap="RestaurantListMap">
		SELECT SR2.*
		FROM   (SELECT    SR.RES_ID, SR.RES_NAME, SR.LOCATION_NAME, SR.REVIEW_RATING
		        FROM      SELECT_RESTAURANT SR
		        LEFT JOIN FILTER_CATEGORY FC ON (SR.RES_ID = FC.RES_ID)
		        WHERE     SR.RES_STATUS = 'Y'
		        <if test="locationId!=0">
		        	AND SR.LOCATION_ID = #{locationId}
		        </if>
		        AND FC.FILTER_ID = 7
		        ORDER BY SR.REVIEW_RATING DESC NULLS LAST) SR2
		<![CDATA[
		WHERE ROWNUM <= 6
		]]>
	</select>
	
	<update id="upGood" parameterType="Review">
		UPDATE REVIEW
		SET    REVIEW_GOODCOUNT = REVIEW_GOODCOUNT + 1
		WHERE  REVIEW_ID = #{reviewId}
	</update>
	
	<select id="alreadyFollowRelationship" parameterType="hashmap" resultType="_int">
		SELECT COUNT(F.FOLLOW_ID)
		FROM   FOLLOW F
		WHERE  F.FOLLOWER_ID = #{followerId} AND F.FOLLOWING_ID = #{followingId}
	</select>
	
	<insert id="followReviewer" parameterType="hashmap">
		INSERT 
		INTO   FOLLOW
		VALUES (SEQ_FOLLOW.NEXTVAL, #{followerId}, #{followingId}, SYSDATE)
	</insert>
</mapper>