<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>	
		<typeAlias type="com.kh.fooco.admin.model.vo.VisitorCount" alias="VisitorCount"/>
		<typeAlias type="com.kh.fooco.admin.model.vo.MembershipStatus" alias="MembershipStatus"/>
		<typeAlias type="com.kh.fooco.admin.model.vo.MembershipCount" alias="MembershipCount"/>
		<typeAlias type="com.kh.fooco.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.fooco.board.model.vo.Board" alias="Board"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
</configuration>
